<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h3> This is your text from picture --> </h3>

    <p>{{form}}</p>
    
    <p><img src=static/files/{{filename}} /> </p>

    <p><a href="/"> <button style="background-color: gray color: green">Back </button></a>
<!--    <a href="/<int:id>"> <button style="background-color: gray color: green">Show pictures </button></a></p>-->



</body>
</html>